@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;

.ai-efficiency-chart {
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }

  &__empty {
    @include type-style('body-01');
    color: $text-secondary;
  }
}
